<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD98b0h573KgE9XR4vMMh5ZL9k6aUUEqsU</string>
	<key>GCM_SENDER_ID</key>
	<string>120639272635</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.santiago.crudFirebase.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-test-d8806</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-test-d8806.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:120639272635:ios:f393ed5faeac5ee1e41b9e</string>
</dict>
</plist>